<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>AvionApp</display-name>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>Controller.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>Controller.ReservationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ListevolServlet</servlet-name>
        <servlet-class>Controller.ListevolServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListevolServlet</servlet-name>
        <url-pattern>/listevol</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FormreservationServlet</servlet-name>
        <servlet-class>Controller.FormreservationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FormreservationServlet</servlet-name>
        <url-pattern>/reserver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin_index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VolServlet</servlet-name>
        <servlet-class>Controller.VolServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VolServlet</servlet-name>
        <url-pattern>/liste_admin_vol</url-pattern>
    </servlet-mapping>


  <servlet>
        <servlet-name>FormVolServlet</servlet-name>
        <servlet-class>Controller.FormVolServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FormVolServlet</servlet-name>
        <url-pattern>/inserer_vol</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>ReservationAdminServlet</servlet-name>
    <servlet-class>Controller.ReservationAdminServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ReservationAdminServlet</servlet-name>
    <url-pattern>/liste_admin_reservation</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>SimulationServlet</servlet-name>
    <servlet-class>Controller.SimulationServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SimulationServlet</servlet-name>
    <url-pattern>/simulate</url-pattern>
</servlet-mapping>

    <servlet>
    <servlet-name>TarifAdminServlet</servlet-name>
    <servlet-class>Controller.TarifAdminServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>TarifAdminServlet</servlet-name>
    <url-pattern>/admin_tarifs</url-pattern>
</servlet-mapping>

    <servlet>
    <servlet-name>VolServlet</servlet-name>
    <servlet-class>Controller.VolServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>VolServlet</servlet-name>
    <url-pattern>/vol</url-pattern>
</servlet-mapping>


    <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>Controller.AdminServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin_login</url-pattern>
</servlet-mapping>


    

    <welcome-file-list>
        <welcome-file>View/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
